
  <table id="example2" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>No.</th>
      <th>Nama Item</th>
      <th>Jumlah Item</th>
      <th>Harga Item</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < nominal.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= nominal[i]?.itemName %></td>
          <td><%= nominal[i]?.itemQuantity %></td>
          <td><%= nominal[i]?.price %></td>
          <td>
            <form action="/nominal/delete/<%=nominal[i]?._id%>" method="post">
              <a href="/nominal/edit/<%=nominal[i]?._id%>" class="btn btn-warning">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
              <button class="btn btn-danger" type="submit">
                <i class="fas fa-trash"></i>
                Hapus
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>